
@{
    ViewBag.Title = "Listing";
}

<input type="checkbox" checked="" class="custom-control-input">
<div class="custom-control-label">
    Samsung
    <b class="badge badge-pill badge-light float-right">15</b>
</div>
                            </label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" checked="" class="custom-control-input">
    <div class="custom-control-label">
        Redmi
        <b class="badge badge-pill badge-light float-right">35</b>
    </div>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" checked="" class="custom-control-input">
    <div class="custom-control-label">
        Benz
        <b class="badge badge-pill badge-light float-right">89</b>
    </div>
</label>
<label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input">
    <div class="custom-control-label">
        HFT
        <b class="badge badge-pill badge-light float-right">30</b>
    </div>
</label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
<article class="filter-group">
    <h6 class="title">
        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3">Phạm vi giá </a>
    </h6>
    <div class="filter-content collapse show" id="collapse_3">
        <div class="inner">
            <input type="range" class="custom-range" min="0" max="100" name="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Thấp nhất</label>
                    <input class="form-control" placeholder="$0" type="number">
                </div>
                <div class="form-group text-right col-md-6">
                    <label>Cao nhất</label>
                    <input class="form-control" placeholder="$1,0000" type="number">
                </div>
            </div> <!-- form-row.// -->
